/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

/*damos diseño al titulo*/
h1{
  font-family: 'Nuosu SIL', serif; 
}

/*damos diseños al input*/
input{
  font-family: 'Nuosu SIL', serif;
}

/*establecemos un diseño de fondo*/
body{
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(124, 124, 124) 88%);
}

/*Con esto dejamos un espacion entre cada tarea*/
.task{
    margin-bottom: 8px;
}

